[submodule "docpad"]
	path = docpad
	url = git://github.com/ahdinosaur/init.docpad.git
[submodule "client"]
	path = client
	url = git://github.com/ahdinosaur/init.client
[submodule "beefy"]
	path = beefy
	url = git://github.com/ahdinosaur/init.beefy
